/* custom changes to icompany theme by CfDP */
#site-name {
    font-size: 36px;
}

/*Reduce size of landing page slider*/

#slider-inner
{
	min-height: 320px;
}
.flex-viewport
{
	height: 320px;
}

/*=======================================================*/

/*Minimize slider pation area */

.slides li .flex-caption
{
	height: 260px;
	margin: 0 0 0 20px;
	padding: 10px 30px;
	top: 20px;
	width: 200px;
}

.slides li .flex-caption .flex-caption-title
{
	padding-bottom: 15px;
}
/*=======================================================*/

/*Move the read more button in the slides on the homepage*/
.slides li .flex-caption .flex-caption-link
{
	bottom: 10px;
	position: absolute;
	right: 20px;
}

/*=======================================================*/


/*List of organisations*/

.view-organizations .views-row
{
	display: inline-block;
	float: left;
	max-width: 33%;
	min-width: 25%;
}

.view-organizations .views-row-even
{
	margin: 0 25px;
}

.view-organizations .views-row .views-field-field-logo
{
	min-height: 100px;
	width: 200px;
}

.views-accordion-organizations-page-header
{
	background: transparent;
	font-size: 120%;
}
.views-accordion-organizations-page-header:hover
{
	border: 1px solid rgb(73,115,185);
}

.views-accordion-organizations-page-header:hover.ui-state-active
{
	border-color: rgb(170,170,170);
}

.views-accordion-organizations-page-header.ui-state-active
{
	background: rgb(183,183,183);
}

/*=======================================================*/

/* Footer menu links */

#footer-region ul
{
	margin: 0;
}

#footer-region ul li
{
	list-style: none;
}

#footer-region ul li a,
#footer-region ul li a:visited
{
	color: rgb(236,236,236);
}

#footer-region ul li a:hover
{
	color: rgb(206,206,206);
}
/*=======================================================*/
