/* custom changes to icompany theme by CfDP */
#site-name {
    font-size: 36px;
}

/*Reduce size of landing page slider*/

#slider-inner
{
	min-height: 320px;
}
.flex-viewport
{
	height: 320px;
}

/*=======================================================*/

/*Minimize slider pation area */

.slides li .flex-caption
{
	height: 260px;
	margin: 0 0 0 20px;
	padding: 10px 30px;
	top: 20px;
	width: 200px;
}

.slides li .flex-caption .flex-caption-title
{
	padding-bottom: 15px;
}
/*=======================================================*/

/*Move the read more button in the slides on the homepage*/
.slides li .flex-caption .flex-caption-link
{
	bottom: 10px;
	position: absolute;
	right: 20px;
}

/*=======================================================*/
