/**
 * @file
 * Form Styling
 */


.form-item { /* Wrapper for a form element (or group of form elements) and its label */
  margin: 1.5em 0;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error { /* Highlight the form elements that caused a form submission error */
  border: 1px solid #c00;
}

.form-item label { /* The label for a form element */
  display: block;
  font-weight: bold;
}

.form-item label.option { /* The label for a radio button or checkbox */
  display: inline;
  font-weight: normal;
}

.form-required { /* The part of the label that indicates a required field */
  color: #c00;
}

.form-item .description { /* The descriptive help text (separate from the label) */
  font-size: 0.85em;
}

.form-checkboxes .form-item,
.form-radios .form-item { /* Pack groups of checkboxes and radio buttons closer together */
  margin: 0; /* Drupal core uses "0.4em 0" */
}

.form-submit { /* The submit button */
}

.container-inline div,
.container-inline label { /* Inline labels and form divs */
  display: inline;
}

.tips { /* Tips for Drupal's input formats */
}

a.button { /* Buttons used by contrib modules like Media */
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

/*
 * Password confirmation
 */

.password-parent,
.confirm-parent {
  margin: 0;
}

/*
 * Search (search-block-form.tpl.php)
 */

#block-search-form { /* Wrapper for the search form */
}

/*
 * Drupal's default login form block
 */

#user-login-form {
  text-align: left; /* LTR */
}

/*
 * OpenID
 *
 * The default styling for the OpenID login link seems to assume Garland's
 * styling of list items.
 */

#user-login-form ul { /* OpenID creates a new ul above the login form's links. */
  margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
}

html.js #user-login-form li.openid-link,
#user-login-form li.openid-link { /* The "Log in using OpenID" link. */
  margin-top: 1.5em;
  margin-left: -20px; /* LTR */ /* Un-do some of the padding on the ul list. */
}

#user-login-form li.user-link { /* The "Cancel OpenID login" link. */
  margin-top: 1.5em;
}

#user-login ul {
  margin: 1.5em 0;
}

/*
 * Drupal admin tables
 *
 * We overrode these styles in normalize.css, but restore them for the admin
 * section of the site.
 */

form th {
  text-align: left; /* LTR */
  padding-right: 1em; /* LTR */
  border-bottom: 3px solid #ccc;
}

form tbody {
  border-top: 1px solid #ccc;
}

form tr.even {
  background-color: #fff;
}

form table .item-list ul {
  margin: 0;
}

.lt-ie8 tr.even th,
.lt-ie8 tr.even td,
.lt-ie8 tr.odd th,
.lt-ie8 tr.odd td {
  border-bottom: 1px solid #ccc; /* IE doesn't display borders on table rows */
}

/*
 * Drupal core wrongly puts this in system.menus.css. Since we override that, add it back.
 */

td.menu-disabled {
  background: #ccc;
}

/* Forum style*/

#forum table {
	width: 940px;
}

#forum table .icon {
	width: 24px;
	height: 24px;
}

#forum table .icon div {
	margin-left: 8px;
}

#forum thead tr{
	background-color: #8B8989;
	color: #000;
	border: 1px solid #fff;
	height: 63px;
}

#forum tbody tr{
	background-color: #C0C0C0;
	color: #000;
	border: 1px solid #fff;
	height: 63px;
}

#forum tbody tr td{
	padding:10px;
	font-weight:500;
	font-size:11px;
}

#forum .title_topic {
	width:550px;
}

#forum .replies_topic {
	width:65px;
}

#forum thead th {
	padding-left: 8px;
}

#forum .head_title {
	font-size: 13px;	
}

#forum .created_topic {
	font-size: 10px;
	font-weight: 100;
	font-style: italic;	
}

#forum tbody tr td a, #forum thead tr th a {
	text-decoration: none;
	color: #3C3C44;
}

#forum tbody tr td a:visited, #forum thead tr a:visited{
	/*text-decoration: none;*/
		color: #3C3C44;
}

#forum tbody tr td a:link, #forum thead tr a:link{
	/*text-decoration: none;*/
		color: #3C3C44;
}

#forum tbody tr td a:active, #forum thead tr a:active{
	/*text-decoration: none;*/
		color: #3C3C44;
}

#forum tbody tr td a:hover, #forum thead tr a:hover{
	text-decoration: underline;
}

#forum .go_bold td{
	font-weight:bold;
}

#forum tr .forum {
	width:545px;
}

#forum tr .topics {
	width:57px;
}

#forum tr .posts {
	width:50px;
}

#forum tr .forum, #forum tr .topics, #forum tr .posts, #forum tr .last-reply {
	font-size:12px;
}

#forum thead .forum_header_forum {
	padding-left:43px;
}


/* ** Comment and description topics ** */

article.node header, article.node div.field.field-name-taxonomy-forums {
	background-color: #8B8989;
	color: #000;
	border: 1px solid #fff;
	padding:15px;
	height: 65px;
	font-weight:bold;
}

article.node header a, article.node div.field.field-name-taxonomy-forums a {
	text-decoration: none;
	color: #3C3C44;
}

article.node .field-name-body .field-item, article.node .field-name-comment-body .field-item {
	background-color: #C0C0C0;
	color: #000;
	border: 1px solid #fff;
	padding:15px;
	font-size:12px;
	text-indent: 10px;
}

article.node header a:visited, article.node div.field.field-name-taxonomy-forums a:visited {
	color: #3C3C44;
}

article.node header a:link, article.node div.field.field-name-taxonomy-forums a:link {
	color: #3C3C44;
}


article.node header a:active, article.node div.field.field-name-taxonomy-forums a:active {
	color: #3C3C44;
}


article.node header a:hover, article.node div.field.field-name-taxonomy-forums a:hover {
	text-decoration: underline;
}


article.node header p, article.node header h3 {
	margin: 0;
}